body {
	margin:0px;
	padding:0px;
	background: right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/cemi.jpg");
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 750px, rgba(255,255,255,0) 100%), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/gagarin.jpg"); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(750px,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/gagarin.jpg"); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 750px,rgba(255,255,255,0) 100%), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/gagarin.jpg"); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 750px,rgba(255,255,255,0) 100%), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/gagarin.jpg"); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 750px,rgba(255,255,255,0) 100%), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/gagarin.jpg"); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 750px,rgba(255,255,255,0) 100%), right top/auto 100% no-repeat fixed url("http://www.adamleeds.com/img/cemi.jpg"); /* W3C */
}


#main {
	box-sizing: border-box;
	background-color: white;
	overflow: hidden; 
	position: relative;
	/*left: 50%;*/
	margin-left: 125px;
  	margin-top: 25px;
  	margin-bottom: 25px;
	padding: 0px;
	width: 600px;
	border-style: none;
	border-color: gray;
	border-width: 0px;
	font-family: 'Lato', sans-serif;
}

	
a {
	color: black;
	position: relative;
	display: inline;
	text-decoration: none;
	white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

p {
	margin-top: 0px;
}

/**************** nav  ****************/

#adamleeds {
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding-bottom: 3px;
	margin-bottom: 3px;
	font-size: 1.5em;
	font-weight: 800;
	letter-spacing: 2px;
	border-bottom: 1px dotted gray;
	}

#navigation {
	box-sizing: border-box;
	position: relative;
	width: 600px;
	margin-top: 5px;
	padding: 3px;
	clear: both;
	border-style: dotted;
	border-color: gray;
	border-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.9em;
	font-weight: 800;
	background-color: white;
	/*outline: white solid 3px;*/
	}
	
/**************** nav links ****************/

a.nav {
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: black;
	}

a.nav:hover {
	position: relative;
	display: inline-block;
	text-decoration: none;
	}

a.nav:hover:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:-2px;
	border-bottom: 3px solid #59ACFF;
}
	
	
/**************** links in the content block, except CV ****************/

div.content#about a {
	position: relative;
	display: inline;
	text-decoration: none;
	color: black;
	border-bottom: 2px dotted gray;
	bottom: 0px;
}

div.content#about a:hover{
    bottom:0px;
	border-bottom: 2px solid #59ACFF;
}

/**************** CV links ****************/

div#cv a:after {
	content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0px;
	border-bottom: 2px dotted gray;
}

div#cv a:hover:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0px;
	border-bottom: 2px solid #59ACFF;
}



/*************** main blocks ************/

div.content {
	box-sizing: border-box;
	padding: 0px;
	padding-top: 5px;
	text-align: justify;
	font-size: 0.9em;
	line-height: 170%;
}

#copyright {
	font-size: 0.6em;
	color: gray;
	text-align: center;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}
#copyright a {
	color: gray;
}

#cv {
	display: none;
	line-height: normal;
}

#research {
	display: none;
}

#about {
	display: block;
}

/*p:first-letter {
	float: left; 
	font-family: ;
	*//*
	font-size: 50px;
	line-height: 34px; 
	*//*
	font-size: 74px;
	line-height: 56px;
	font-weight: 300; 
	padding-top: 5px; 
	padding-right: 5px; 
	padding-left: 5px;
	padding-bottom: 5px;
	margin-right: 5px;
	margin-left: 0px;
	background-color: #E6E6E6;
	border: 1px dotted gray;
	color: black;
}*/


/************* CV Specific **************/

.cv_heading {
	box-sizing: border-box;
	padding-top: 16px;
	padding-bottom: 16px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 700;
	clear: both;
	overflow:auto;
}

.cv_subheading {
	font-weight: 700;
	clear: both;
	padding-top: 8px;
	padding-bottom: 8px;
}

.cv_section {
	box-sizing: border-box;
	font-size: 0.8em;
}

table.cv_date_list {
	vertical-align: top;
}

table.cv_date_list tr {
}

table.cv_date_list tr td:nth-child(1) {
	vertical-align: top;
	width: 15%;
	padding-bottom: 10px;
}

table.cv_date_list tr td:nth-child(2) {
	width: 85%;
	padding-bottom: 10px;
}

table.cv_date_list tr:last-child>td {
	padding-bottom: 0px;
}

/************* Mobile **************/

@media only screen and (min-device-width : 319px) and (max-device-width : 568px) and (orientation: portrait)
{
	body {
		-webkit-text-size-adjust: none;
		font-size: 30px;
	}
	
	#main {
		margin-left: 5px;
		margin-top: 0px;
	}
}

@media only screen and (min-device-width : 319px) and (max-device-width : 568px) and (orientation: landscape)
{
	body {
		-webkit-text-size-adjust: none;
		font-size: 30px;
	}
}
