#main {
		position:fixed;
		width: 500px;
		top: 200px;
		left: 200px;
		border-style: solid;
		border-color: gray;
		}
		
#navigation {
		position: relative;
		width: 100%;
		clear: both;
		text-align: justify;
		text-transform: uppercase;
		border-style: dotted;
		border-color: gray;
		font-family: Verdan, sans-serif;
		}