body {
	background-color: #E6E6E6;
}

#main {
	background-color: white;
	position:fixed;
	width: 500px;
	top: 200px;
	left: 200px;
	margin: 3px;
	padding: 3px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	font-family: Verdan, sans-serif;
	}
		
#navigation {
	position: relative;
	width: 488px;
	margin: 3px;
	padding: 3px;
	clear: both;
	border-style: dotted;
	border-color: gray;
	border-width: 1px;
	font-family: Verdan, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.9em;
	}

a.nav {
	text-decoration: none;
	color: black;
	font-style: bold;
	}
		
a.nav:hover {
	text-decoration: underline;
	color: black;
	font-style: bold;
	}